.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
     background:url('backlogin.jpg') no-repeat center fixed;
     background-size: cover;
  }
  
  .img{
    border-radius: 10px;
    height:100px;
    margin:10px 140px;
  }
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 100%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom:20px;
    border-radius: 5px;
    background: none;
    border-color: rgb(255, 255, 255);
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgba(22, 185, 117, 0.836);
    font-weight: 800;
  }
  
  .label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  /* .head2{
    font-size:50px;
    color:white;
    font-family:"Copperplate","fantasy";
    text-align: justify;
  } */
  .combine{
     display: flex;
    gap: 10px;
    }
   
  